.custom-container>div:first-child {
    flex: 0 1 100%;
}
#prediction-help p, #prediction-help div {
    padding : 10px;
}
.btn-margin-left {
    margin-left: 2px;
}
.btn-margin-right {
    margin-right: 2px;
}

